WebServices/WebApplication2/Connected Services/ServiceReference2/NewWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddTwo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTwoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddTwoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddTwoSoapIn">
    <wsdl:part name="parameters" element="tns:AddTwo" />
  </wsdl:message>
  <wsdl:message name="AddTwoSoapOut">
    <wsdl:part name="parameters" element="tns:AddTwoResponse" />
  </wsdl:message>
  <wsdl:portType name="NewWebServiceSoap">
    <wsdl:operation name="AddTwo">
      <wsdl:input message="tns:AddTwoSoapIn" />
      <wsdl:output message="tns:AddTwoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewWebServiceSoap" type="tns:NewWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTwo">
      <soap:operation soapAction="http://tempuri.org/AddTwo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NewWebServiceSoap12" type="tns:NewWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTwo">
      <soap12:operation soapAction="http://tempuri.org/AddTwo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewWebService">
    <wsdl:port name="NewWebServiceSoap" binding="tns:NewWebServiceSoap">
      <soap:address location="https://localhost:44325/NewWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="NewWebServiceSoap12" binding="tns:NewWebServiceSoap12">
      <soap12:address location="https://localhost:44325/NewWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>